@font-face {
    font-family: 'TiltWarp';
    src: url(/fonts/TiltWarp.ttf);
    font-weight: lighter;
}

body {
    background-color: darkgrey;
    text-align: center;
}

h1 {
    font-family: 'TiltWarp';
    font-size: 50px;
    padding: 2px;
    margin: 2px;
    color: black;
}

.back {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'TiltWarp';
}
